*.DS_Store
.bundle
.autotest
.sass-cache/*

clean.sh
backup.sh
gitchanges.sh
dump.rdb

log/*
tmp/*

db/*.sqlite3
db/*.rdb
db/.DS_Store
db/schema.rb

sb-sublime/*
.idea/*
nbproject/*

Passengerfile.json

.env
.env.production
.env.staging
.env.development


config/deploy/staging.rb
config/deploy/development.rb
config/deploy/production.rb

config/schedule.rb
config/cable.yml
config/database.yml

public/robots.txt
public/assets/*
public/system/*
public/uploads
public/profiles/*

