%h3 Create New User
%hr/
= simple_form_for @user, url: add_user_users_path, method: 'post', :html => {:class => 'form-horizontal' } do |f|
  .form-group
  %label.control-label.col-sm-2{:for => 'email'} Email:
  .col-sm-10
    = f.text_field :email, placeholder: 'email', style: 'width:30%;', class: 'form-control'
  .form-group
  %label.control-label.col-sm-2{:for => 'role'} Role:
  .col-sm-10
    = select_tag 'user[role_id]', options_for_select(@roles.collect {|p| [ p[:name], p[:id] ] }, 2), class: 'form-control', style: 'width: 30%;'
  .form-group
  %div{:style => 'margin-left: 18%;'}
    = f.submit 'Create', class: 'btn btn-primary btn-sm btn-round'
